body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #5a89e8;
}

.game-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 2px solid #ffffff;
    background-color: #c64747;
}
